.logo {
    text-align: center;
    margin: auto;
    float: none;
    width: 138px;
    height: 7.9vw;
    height: auto;
    text-align: center;
}
hr{
	width:500;
	max-width:100%;
	border:2px solid #E91d74;
}