.logo {
    text-align: center;
    margin: auto;
    float: none;
    width: 138px;
    height: 7.9vw;
    height: auto;
    text-align: center;
}
hr{
	width:500;
	max-width:100%;
	border:2px solid #E91d74;
}
h1{
    text-align: center;
    margin-block-start:0.1em;
    margin-block-end: 0.1em;
}
h2{
    margin-block-start:0.1em;
    margin-block-end: 0.1em;
    text-align:center;
      
  }
  h3{
      text-align: center;
  }
  body{
    background-color: #f1f1f1;
}
img{
    max-width: 100%;
    display:block;
}
.flex{
    display:flex;
    flex-wrap: wrap;
    max-width:900px;
    margin: 0 auto;
}
.flex > div {
    flex:1 1 200px;
    margin: 10px;
}