* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
}

.align-logo {
    text-align: center;
}


.logo {
    width: clamp(12vw, 15vw, 16vw);
    height: auto;
    min-width: 8%;
    margin: 20px;
}

p {
    font-size: clamp(1vw, 2.8vw, 5vw);
}

.titulo {
    line-height: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.anima {
    color: #E91D74;
}

.inform p{
    margin-left: 4vw;
    margin-bottom: 0;
    margin-top: 10px;
}


hr {
    border: 2px solid #E91D74;
    background-color: #E91D74;
    margin: 0;
}


header {
    height: clamp(18vw, 25vw, 30vw);
}

header h1 {
    font-size: 3em;
    font-weight: 900;
    color: #E91D74;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 0vw;
}

.gallery-items {
    width: 250px;
    height: 350px;
    border: 6px solid white;
    box-shadow: 5px 5px 5px #0006;
    transition: transform 1s linear;
}

.heart {
    display: inline-block;
    
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover {
    transform: scale(1.1);
    
}

footer{
    height: 100px;
    justify-content: center;
    align-content:center;
    margin: 50px;
}

button {
    background-color: #da5390;
    border: 5px solid #E91D74;
    box-shadow: 5px 5px 5px #0006;
    color: black;
    padding: 0.5vw;
    text-align: center;
    font-size: 16px;
    margin-left: 0.6vw;
    font-size: clamp(1vw, 1.2vw, 2vw);
    margin-bottom: 0;
    margin-top:0 ;}


    
    [id="heart"] {
        position: absolute;
        left: -100vw;
      }
      
      [for="heart"] {
        color: #797979;
        cursor: pointer;
        font-size:2.3em;
        align-self: center;  
        transition: color 0.2s ease-in-out;
      }
      
      [for="heart"]:hover {
        color: rgb(97, 97, 97);
      }
      
      [for="heart"]::selection {
        color: none;
        background: transparent;
      }
      
      [for="heart"]::moz-selection {
        color: none;
        background: transparent;
      }
      
      [id="heart"]:checked + label {
        color: #e2264d;
        will-change: font-size;
        animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
      }
      
      
      
      @keyframes heart {0%, 17.5% {font-size: 0;}}