html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F1;
    flex-wrap: wrap;
}

.align-logo {
    text-align: center;
}


.logo {
    width: 7.9vw;
    height: auto;
    min-width: 8%;
    margin-top: 20px;
}

p {
    font-size: clamp(1vw, 2.5vw, 5vw);
}

.titulo {
    line-height: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.anima {
    color: #E91D74;
}

.inform {
    margin-left: 10px;
    margin-bottom: 0;
}


hr {
    border: 2px solid #E91D74;
    background-color: #E91D74;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1 7fr));
    grid-template-rows: (auto-fit, minmax(1 7fr)) 70vh 10vh 0vh;
    grid-template-areas: "h h"
        "m s"
        "f f";
}

header {
    background: #F1F1F1;
    max-width: 100%;
    height: auto;
    grid-area: h;
}

main {
    background: #F1F1F1;
    max-width: 100%;
    min-width: 50%;
    grid-area: m
}

aside {
    background: #F1F1F1;
    max-width: 100%;
    min-width: 50%;
    grid-area: s
}

.foto {
    float: left;
    width: 150px;
    height: auto;
    max-width: 20%;
    min-width: 40%;
    margin-right: 20px;
    margin-left: 20px;
}

.sereia2 {
    float: left;
    width: 150px;
    height: auto;
    max-width: 20%;
    min-width: 40%;
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    font-size: clamp(1vw, 1.2vw, 1.5vw);
    margin: 15px;
}

h3 {
    font-size: clamp(1vw, 2vw, 2.2vw);
    margin-top: 2.2vw;
    margin-bottom: 1vw;
}

.destaque {
    background-color: #E91D74;
    padding: 0px;
    border-radius: 50px;
    width: 30vw;
    margin-left: clamp(5vw, 5vw, 7vw);
}

h4 {
    font-size: clamp(1vw, 1.5vw, 2.2vw);
    margin: 0.2vw;
    margin-top: 0;
}

button {
    background-color: #E91D74;
    border: none;
    color: black;
    padding: 0.5vw;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;}
 
button{
    font-size: clamp(0.5vw, 1vw, 2.2vw);
    margin-bottom: 0;
    margin-top:0 ;}

.first {
    margin-top: clamp(1vw, 2vw, 1.1vw);

}

.cont {
    margin-top: clamp(5vw, 5vw, 7vw);
}