html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F1
}

.logo {
    text-align: center;
    margin: 0;
    padding: 0;
}


.logo1 {
   margin-top: 15px;
    width: 150px;
    height: auto;
    max-width: 55%;
    margin-bottom: 20px;
}

p {
    font-size: clamp(1vw, 2.5vw, 5vw);
}

.titulo {
    line-height: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.anima {
    color: #E91D74;
}

hr {
    border: 1px solid #E91D74;
    background-color: #E91D74;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1 7fr));
    grid-template-rows: 40vh 70vh 10vh 0vh;
    grid-template-areas: "h h"
        "m s"
        "f f";
}

.cabecalho {
    width: 100%;
    float: center;
    padding: 0;

}

header {
    background: #b80000;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    grid-area: h
}

main {
    background: #F1F1F1;
    max-width: 100%;
    min-width: 50%;
    grid-area: m
}

aside {
    background: #F1F1F1;
    max-width: 100%;
    min-width: 50%;
    grid-area: s
}

.foto {
    float: left;
    width: 200px;
    height: auto;
    max-width: 30%;
    min-width: 50%;
    margin: 10px 10px
}

h1 {
    font-size: clamp(1vw, 1.5vw, 2vw);
}