.texto {
    max-width: 260px;
    text-align: justify;
    float: right;
    margin-left: 10px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}

.foto {
    margin-left: 20px;
    max-width: 20.0em;
    max-height: 20.0em;
    margin-top: 20px;
}

div.foto2 {
    margin-left: 4.0em;
    max-width: 2.0em;
    max-height: 2.0em;
    margin: 30px;
}

div.foto3 {
    margin-top: 50px;
    margin-left: 4.0em;
    margin-right: 0;
    max-width: 2.0em;
    max-height: 2.0em;
    margin: 30px
}